
@{
    ViewBag.Title = "Cancel";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@Html.Raw(TempData["msg"])
<div style="text-align:center">
    <h1>Your items have been deleted! </h1>
    <h2>Thank you for visiting us!</h2>
</div>


